<!DOCTYPE html>
<html lang="{{ app.getLocale }}">
<head>
    <!-- other regular head stuff -->
</head>
<body class="antialiased">
<div class="relative flex items-top justify-center min-h-screen bg-gray-100 dark:bg-gray-900 sm:items-center sm:pt-0">
    {% if Route.has('login') %}
        <div class="hidden fixed top-0 right-0 px-6 py-4 sm:block">
            {% if auth_check() %}
                <a href="{{ url('/home') }}" class="text-sm text-gray-700 underline">Home</a>
            {% else %}
                <a href="{{ route('login') }}" class="text-sm text-gray-700 underline">Login</a>

                {% if Route.has('register') %}
                    <a href="{{ route('register') }}" class="ml-4 text-sm text-gray-700 underline">Register</a>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}

    <div class="max-w-6xl mx-auto sm:px-6 lg:px-8">
        <div class="mt-8 bg-white dark:bg-gray-800 overflow-hidden shadow sm:rounded-lg">
            <!-- irrelevant content -->

            <div class="ml-4 text-center text-sm text-gray-500 sm:text-right sm:ml-0">
                Laravel v{{ app.version }}
            </div>
        </div>
    </div>
</div>
</body>
</html>
